.controls button[data-state="subtitles"] {
    height:85%;
    text-indent:0;
    font-size:16px;
    font-size:1rem;
    font-weight:bold;
    color:#666;
    background:#000;
    border-radius:2px;
}
.subtitles-menu {
    display:none;
    position:absolute;
    background:#666;
    list-style-type:none;
    margin:0;
    padding:0;
    width:100px;
    padding:10px;
        z-index: 999
}

.subtitles-menu li {
    padding:0;
    text-align:center;
}

.subtitles-menu li button {
    border:none;
    background:#000;
    color:#fff;
    cursor:pointer;
    width:90%;
    padding:2px 5px;
    border-radius:2px;
}

.video-controls{
    position: relative;
}

::cue{
   font-size: 30px;
}

#transcriptWrapper {
	width: 500px;
    position: relative;
}
#transcript {
	font-family: garamond;
	font-size: 14pt;
	list-style: none;
	padding-left: 13px;
	position: relative;
}
#transcript > li {
	margin: 5px 0;
	padding: 5px;
	transition: all .8s ease;
	list-style-type: none;
}

.speakerName {
	text-transform: uppercase;
}
.speaking {
	background: #F5E566;
}

.audio_wrap{
        position: absolute;


    top: 0px;
    right: -150px;
    width: 300px;
    height: 60px;
}

